body {
    height: 100%;
    position: relative;
    background: var(--background-color-white);
}

/* header */

header {
    /* window 基準 */
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    /* sticky */
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;

    background: var(--background-color-white);

    /* Shadow/main */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}

#header_logo {
    /* window 基準 */
    position: absolute;
    width: 310.22px;
    height: 40px;
    left: 20px;
    top: 20.5px;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    /* 右寄せ */
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-top: 18px;
    padding-right: 49px;
    gap: 32px;
}

.header_right_toc {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_top {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_faq {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    height: 44px;

    /* Brand/primary */
    background: var(--brand-color-primary);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button_text {
    color: var(--base-color-white);
    text-align: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
}


/* footer */

footer {
    width: 100%;
    /* height: 342px; */

    background-color: var(--brand-color-primary);
}

.footer_menu {
    padding: 60px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    /* gap: 96px; */
}

#footer_logo {
    width: 310.22px;
    height: 40px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.footer_about {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    color: var(--base-color-white);

    flex: none;
    order: 1;
    flex-grow: 1;
}

.footer_toc {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* position: absolute; */
    width: 103px;
    height: 66px;
    left: 769.22px;
    top: 68px;

    color: var(--base-color-white);

    flex: none;
    order: 2;
    flex-grow: 1;
}

.footer_toc_top {
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.footer_toc_faq {
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.footer_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    /* position: absolute; */
    width: 176px;
    height: 44px;
    left: 968.22px;
    top: 60px;

    background: var(--base-color-white);
    border-radius: 1000px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer_button_text {
    text-align: center;

    color: var(--base-color-primary)
}

.footer_copyright {
    padding-bottom: 27px;
    text-align: center;
    color: var(--base-color-white);
}