body {
    height: 100%;
    position: relative;
    background: var(--background-color-white);
}

/* header */

header {
    /* window 基準 */
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    /* sticky */
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;

    background: var(--background-color-white);

    /* Shadow/main */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}

#header_logo {
    /* window 基準 */
    position: absolute;
    width: 310.22px;
    height: 40px;
    left: 20px;
    top: 20.5px;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    /* 右寄せ */
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-top: 18px;
    padding-right: 49px;
    gap: 32px;
}

.header_right_toc {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_top {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_faq {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    height: 44px;

    /* Brand/primary */
    background: var(--brand-color-primary);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button_text {
    color: var(--base-color-white);
    text-align: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

/* top */

.top {
    width: 100%;
    height: 440px;

    position: relative; /* preview 画像の基準 */

    background: var(--brand-color-gradation);
}

#top_right_fig {
    position: absolute;
    width: 600px;
    top: 73px;
    right: -80px;
}

.top_left {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 94px;
    padding-left: 128px;
    gap: 24px;

    /* position: absolute; */
    /* width: 557px;
    height: 251px;
    left: 128px;
    top: 94px; */

    margin: 0px;
}

.top_left_copy {
    color: var(--base-color-white);
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.top_left_text {
    color: var(--base-color-white);
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.top_left_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: 208px;
    height: 44px;

    /* Base/white */
    background: var(--background-color-white);
    /* Shadow/main */

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 2;
}

.top_left_button_text {
    /* Base/primary */
    color: var(--base-color-primary);
    text-align: center;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

/* main - common part */

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.main_part {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;

    flex: none;
    order: 0;
}

.main_sectionname {
    /* pop-up_title */
    color: var(--base-color-primary);
}

.main_sectiontext {
    /* caption */
    color: var(--base-color-primary);
}

.main_subsectionname {
    /* copy */
    color: var(--brand-color-primary);
}

.main_subsectiontext {
    /* subcopy */
    color: var(--base-color-secondary);
}

.main_description {
    /* description */
    color: var(--base-color-primary);
}

/* main - exception */
/* - services */
.main_services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 0;
}

.main_services_contents {
    flex: none;
    order: 1;

    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    padding: 0px 16px;
}

.main_service {
    flex: none;
    flex-grow: 1;
}

.main_service_card {
    flex-grow: 0;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 24px 24px;
    gap: 16px;

    /* width: 464px; */
    height: 180px;

    background: var(--base-color-white);
    border: 1px solid var(--base-color-disabled);
    border-radius: 16px;
}

.main_service_card_header {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.main_service_card_title {
    /* copy */
    color: var(--base-color-primary);
    flex-grow: 1;
    /* width: 280px; */
}

.main_service_card_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    width: 128px;
    height: 44px;

    /* Brand/secondary */
    background: var(--brand-color-secondary);
    border-radius: 1000px;
}

.main_service_card_button_text {
    /* subcopy */
    color: var(--base-color-white);
}

.main_service_card_content {
    align-self: stretch;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    /* width: 416px; */
}

.main_service_card_description {
    /* caption */
    color: var(--base-color-primary);
    width: 320px;
    flex-grow: 1;
}

#main_service_titechapp {
    padding: 0px;
    width: 80px;
    height: 80px;
}

#main_service_titechinfo {
    padding: 0px;
    width: 80px;
    height: 80px;
}

/* - cando */
.main_cando_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.main_cando_subsection {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 48px;
}

/* - invite */
.main_invite {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 160px;
    width: 100%;
    padding: 37px 60px;
    gap: 32px;
    background: var(--brand-color-gradation);
    border-radius: 16px;
}

.main_invite_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    color: var(--base-color-white);
}

.main_invite_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    background: var(--base-color-white);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1000px;
}

.main_invite_button_text {
    /* subcopy */
    width: 160px;
    color: var(--base-color-primary);
}

/* - environment */
.main_environment_subsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.main_environment_subsubsections {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 65px;

    width: 100%;
}

.main_environment_subsubsection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 100%;

    color: var(--base-color-primary);
}

/* - faq */
.main_faq {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    /* gap: 100px; */
    width: 100%;
    justify-content: space-between;
}

.main_faq_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    flex-grow: 1;
}

.main_faq_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    background: var(--brand-color-secondary);
    border-radius: 1000px;
}

.main_faq_button_text {
    /* subcopy */
    color: var(--base-color-white);
}



/* footer */

footer {
    width: 100%;
    height: 342px;

    background-color: var(--brand-color-primary);
}

.footer_menu {
    padding: 60px 128px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* gap: 96px; */
}

#footer_logo {
    width: 310.22px;
    height: 40px;

    flex: none;
    order: 0;
    flex-grow: 1;
}

.footer_about {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    color: var(--base-color-white);

    flex: none;
    order: 1;
    flex-grow: 1;
}

.footer_toc {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* position: absolute; */
    width: 103px;
    height: 66px;
    left: 769.22px;
    top: 68px;

    color: var(--base-color-white);

    flex: none;
    order: 2;
    flex-grow: 1;
}

.footer_toc_top {
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.footer_toc_faq {
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.footer_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    /* position: absolute; */
    width: 176px;
    height: 44px;
    left: 968.22px;
    top: 60px;

    background: var(--base-color-white);
    border-radius: 1000px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.footer_button_text {
    text-align: center;

    color: var(--base-color-primary)
}

.footer_copyright {
    padding-bottom: 27px;
    text-align: center;
    color: var(--base-color-white);
}