body {
    height: 100%;
    position: relative;
    background: var(--background-color-white);
}

/* header */

header {
    /* window 基準 */
    position: absolute; 
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;

    /* sticky */
    position: -webkit-sticky;
    position: sticky;

    background: var(--background-color-white);

    /* Shadow/main */
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
}

#header_logo {
    /* window 基準 */
    position: absolute;
    width: 310.22px;
    height: 40px;
    left: 20px;
    top: 20.5px;
}

.header_right {
    display: flex;
    justify-content: flex-end; /* 右寄せ */
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding-top: 18px;
    padding-right: 49px;
    gap: 32px;
}

.header_right_toc {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_top {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.header_right_toc_faq {
    color: var(--base-color-secondary);

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    height: 44px;

    /* Brand/primary */
    background: var(--brand-color-primary);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 1;
}

.header_right_button_text {
    color: var(--base-color-white);

    /* Inside auto layout */
    flex: none;
    order: 0;
}

/* content */
.top {
    /* position: absolute; */
    width: 100%;
    height: 440px;
    left: 0px;
    /* top: 80px; */
    background: var(--brand-color-gradation);
}

.top_left {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 94px;
    padding-left: 128px;
    gap: 24px;

    /* position: absolute; */
    /* width: 557px;
    height: 251px;
    left: 128px;
    top: 94px; */

    margin: 0px;
}

.top_left_copy {
    color: var(--base-color-white);
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.top_left_text {
    color: var(--base-color-white);
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.top_left_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;

    width: 208px;
    height: 44px;

    /* Base/white */
    background: var(--background-color-white);
    /* Shadow/main */

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 2;
}

.top_left_button_text {
    /* Base/primary */
    color: var(--base-color-primary);

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
    padding-left: 128px;
    padding-top: 90px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 1024px;
    height: 248px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}


/* footer */

footer {
    /* position: absolute; */
    width: 1280px;
    height: 342px;
    left: 0px;
    top: 3094px;

    background-color: var(--brand-color-primary);
}

#footer_logo {
    /* position: absolute; */
    width: 310.22px;
    height: 40px;
    left: 128px;
    top: 60px;
}

.footer_about {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* position: absolute; */
    /* width: 139px;
    height: 156px; */
    left: 534.22px;
    top: 68px;

    color: var(--base-color-white);
}

.footer_about_circle {
    /* width: 111px;
    height: 21px; */

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.footer_about_titechapp {
    /* width: 82px;
    height: 21px; */

    /* Inside auto layout */
    flex: none;
    order: 1;
}


.footer_about_titechinfo {
    /* width: 85px;
    height: 21px; */

    /* Inside auto layout */
    flex: none;
    order: 2;
}

.footer_about_pp {
    /* width: 139px;
    height: 21px; */

    /* Inside auto layout */
    flex: none;
    order: 3;
}

.footer_toc {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    /* position: absolute; */
    width: 103px;
    height: 66px;
    left: 769.22px;
    top: 68px;

    color: var(--base-color-white);
}

.footer_toc_top {
    /* Inside auto layout */
    flex: none;
    order: 0;
}

.footer_toc_faq {
    /* Inside auto layout */
    flex: none;
    order: 1;
}

.footer_button {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    /* position: absolute; */
    width: 176px;
    height: 44px;
    left: 968.22px;
    top: 60px;

    background: var(--base-color-white);
    border-radius: 1000px;
}

.footer_button_text {
    width: 128px;
    height: 24px;

    color: var(--base-color-primary)
}

.copyright {
    /* position: absolute; */
    width: 339px;
    height: 21px;
    left: 471px;
    top: 294px;

    color: var(--base-color-white);
}